First Name: {{user.first_name}}<br/>
Last Name: {{user.last_name}}<br/>
Email: {{user.email}}<br/>

Birth Date: {{investor.date_of_birth}}<br/>
Phone Number: {{investor.phone_number}}<br/>
    
Country: {{investor.country}}<br/>
Territory: {{investor.territory}}<br/>
    
Address: {{investor.address}}<br/>
Postal/Zip Code: {{investor.postal_code}}<br/>
City: {{investor.city}}<br/>
    
Investment Timeframe: {{investor.investment_timeframe}}<br/>
Distribution: {{investor.distribution}}<br/>
    
