{% extends "account/base.html" %}

{% block head_title %}Change Password{% endblock %}

{% block content %}
<section class="section">
    <div class="section-body">
        <h1>Change Password</h1>
        <section>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-md btn-gold" name="action">Change Password</button>
        </form>
        </section>
    </div>
</section>
    
{% endblock %}
