<table class="mdl-data-table mdl-js-data-table no-hover bookmaker-table">
    
      <col width="180">
      <col>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><strong>Founded:</strong></td>
            <td class="mdl-data-table__cell--non-numeric">{{bookmaker.founded}}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><strong>License:</strong></td>
            <td class="mdl-data-table__cell--non-numeric">{{bookmaker.license}}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><strong>Known For:</strong></td>
            <td class="mdl-data-table__cell--non-numeric">{{bookmaker.known_for}}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><strong>Bonus:</strong></td>
            <td class="mdl-data-table__cell--non-numeric">{{bookmaker.bonus}}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><strong>Countries Restricted:</strong></td>
            <td class="mdl-data-table__cell--non-numeric">{{bookmaker.countries_restricted}}</td>
        </tr>
        
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><strong>Website:</strong></td>
            <td class="mdl-data-table__cell--non-numeric"><a href="{{bookmaker.affiliate_url}}">{{bookmaker.website}}</a></td>
        </tr>
    </tbody>
   
</table>