<h3>Dear {{info.first_name}}</h3>
Thank you for submitting your request. Your request will be reviewed and a time will be confirmed with you shortly.

<h3>Request Details</h3>

<p><b>Requested times</b><br>
{{info.date}}, {{info.start_time_1}}<br>
{{info.date}}, {{info.start_time_2}}<br>
{{info.date}}, {{info.start_time_3}}<br>
</p>

<p><b>Concerning information</b><br>
You will receive concerning information when your request is approved.
</p>

<h3>Your information</h3>
<p><b>Your name:</b><br>
{{info.first_name}}</p>

<p><b>What are you looking to get out of the appointment?</b><br>
{{info.matter}}</p>

