<section>
    <div class="section-body">
   <p>
    You may have reached this page by trying to access Members-Only content.
    </p>
    <p>
    If you’re already a Bet on Combat Member, click <a href="{% url 'account_login' %}">here</a> to log in. 
    </p>
    <p>
    Not A Member? <a href="{% url 'account_signup' %}">Sign Up Now!</a>
    </p>
    
    <p>
        Once you’re a Bet on Combat member, you’ll find the most current predictions under the Prediction section here.
    </p>
    <p>
        Non-members can see to past predictions for free once each event is over. The list of all predictions ever made on BetonCombat.com can be found <a href="{% url 'predictions:index' %}">here</a>.  
    </p>
    <p>
        BetonCombat.com provides the astute combat sports bettors a significant edge over the masses. With proprietary power rankings, videos, articles and premium picks, all provided by leading experts in the combat sports betting industry, Bet on Combat is filled with exclusive information that can’t be found anywhere else. 
    </p>
    </div>
</section>
