    <h2 class="text-center">Testimonials</h2>
<div class="row">
    <div class="col-md-12">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
<!-- Bottom Carousel Indicators -->
<ol class="carousel-indicators">
  {% for item in testimonialitems %}
  <li data-target="#quote-carousel" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
  {% endfor %}
</ol>
<!-- Carousel Slides / Quotes -->
<div class="carousel-inner">
{% for item in testimonialitems %}
<!-- Quote 1 -->
<div class="item {% if forloop.first %}active{%endif%}">
  <div class="row">
    <div class="col-sm-12 testimonial_class_row">
      <a class="testimonial_text" href="{% url 'testimonial:index' %}"><p class="testimonial_paragraph">{{item.content|safe}}</p>
      <small><strong>{{item.name}}</strong></small></a>
    </div>
  </div>
</div>
{% endfor %}
</div>
      </div>
    </div>                                                                                                                                                                                                                                   
  </div>
