footer{
  background-color:#030303;
  
  #chat-footer{
    cursor:pointer;
  }
  
  #contact-info{
    color:white;
    font-size:16px;
    max-width:800px;
    padding-bottom:10px;
    a{
      color:White;
    }
    .fa{
      font-size:50px;
      margin:20px 0 10px 0;
    }
  }
  .separator{
    padding:0 5px;
  }
  #footer-links{
    margin:30px auto 10px auto;
    #footer-link-container{
      margin-bottom:10px;
      padding-top:10px;
    }
  }
  
  .copyright{
    font-size:12px;
    color:lightgray;
  }
  .social-icons{
    a{
      padding:0 10px;
      color:lightgray;
      font-size:30px;
      &:hover{
        color:unquote('rgb(#{$color-accent})');
      }
      
    }
  }
  z-index:900;
}
