$color-primary: "0,0,0" !global;
$color-primary-dark: "0,0,0" !global;
$color-accent: "167, 122, 63" !global;
$color-primary-contrast:  "255,255,255" !global;
$color-accent-contrast:  "255,255,255" !global;

$text-color-sub: rgba(0,0,0,0.57);
$divider-color: rgba(0,0,0,.13);

$color-win: rgb(38, 166, 91);
$color-loss: rgb(207, 0, 15);

$columns-mobile-size: 480px;

$breakpoint-mobile: 480px;
$breakpoint-mobile-tablet: 625px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-desktop:900px;
$breakpoint-desktop: 1024px;
